<template name="admin">
            <div class="container">
                <div class="row">
                <div class="col-6">
                    <h3 class="title">New User</h3>
                    <form class="form">
                        <div class="form-item">
                            <label for="regEmail" >Email</label>
                            <input type="email" name="regEmail" class="w50">
                        </div>
                        <div class="form-item">
                            <label for="password" >Password</label>
                            <input type="password" name="regPassword" class="w50">
                        </div>
                        <div class="form-item">
                            <button>Register</button>
                            <button class="button secondary outline">Cancel</button>
                        </div>
                    </form>
                </div>
                <div class="col-6">
                    <h3 class="title">Manage Categories&nbsp;<kbd onclick="Router.go('/c/new')">Add</kbd></h3>
                    {{#each categories}}
                        <div style="border-left: 3px solid {{color}}; padding: 2px 0px;">&nbsp;<a href="/admin/c/{{categoryName}}" title="{{categoryName}}" >{{categoryName}}</a></div>
                    {{/each}}
                </div>
            </div>
        </div>
</template>