<template name="admin">
        <div class="row">
            <div class="container">
                <h3 class="title">Register</h3>
                <form class="form">
                    <div class="form-item">
                        <label for="regEmail" >Email</label>
                        <input type="email" name="regEmail" class="w50">
                    </div>
                    <div class="form-item">
                        <label for="password" >Password</label>
                        <input type="password" name="regPassword" class="w50">
                    </div>
                    <div class="form-item">
                        <button>Register</button>
                        <button class="button secondary outline">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
</template>