<template name="base">
    <html>
    <head>
        <title>Simple Blog</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Kube CSS -->
        <link rel="stylesheet" href="/kube.min.css">
        <link rel="stylesheet" href="/nav.css" >

    </head>
    <body>
    <nav>
        <div class="row container">
            <div class="col col-2 brand"><a href="/"><img src="/blogLogo.png" alt="Logo" /></a></div>
            <div class="col col-10">
                <ul class="nav">
                    <li><a href="/" >Home</a></li>
                    <li><a href="/c/all" >Categories</a></li>
                    {{#if currentUser}}
                        <li><a href="/admin" title="Admin">Admin</a></li>
                    {{else}}
                        <li><a href="/login" >Login</a></li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </nav>
    <br/>
    {{> yield}}

    {{#if currentUser}}
    <div class="newPost">
        <a class="button secondary outline" href="/p/new">New Post</a>
    </div>
    {{/if}}
    <!-- Kube JS + jQuery are used for some functionality, but are not required for the basic setup -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/kube.min.js"></script>
    </body>
    </html>
</template>