<template name="login">
    <div class="row">
        <div class="container">
            <h3 class="title">Login</h3>
            <form class="form">
                <div class="form-item">
                    <label for="email" >Email</label>
                    <input type="email" name="email" class="w50">
                </div>
                <div class="form-item">
                    <label for="password" >Password</label>
                    <input type="password" name="password" class="w50">
                </div>
                <div class="form-item">
                    <button>Log in</button>
                    <button class="button secondary outline">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</template>