<template name="post">
    {{#each post_feed}}
        <article>
            <div class="row">
                <h3 class="title">{{title}}&nbsp;<kbd>{{category}}</kbd></h3>
            </div>
            <div class="row">
              {{content}}
            </div>
            <div class="row">
                <div class="col-3">
                    <cite>Author: <a href="#">{{author}}</a>&nbsp;~&nbsp;{{date}}</cite>
                </div>
                <div class="col-9">
                    {{#if currentUser}}<span class="admin__in_p"><mark><a href="#">Edit</a></mark>&nbsp;<mark><a href="" class="delPost">Delete</a></mark></span>{{/if}}
                </div>
            </div>
        </article>
    {{/each}}
</template>
<template name="newPost">
    {{#if currentUser}}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="title">New Post</h2>
                <form class="form">
                    <div class="form-item">
                        <label>Title</label>
                        <input type="text" name="title" class="w50 pTitle">
                    </div>
                    <div class="form-item">
                        <label>Category</label>
                        <select class="pCategory">
                            {{#each categories}}
                                <option value="{{categoryName}}">{{categoryName}}</option>
                             {{/each}}
                        </select>
                    </div>
                    <div class="form-item">
                        <textarea rows="6" class="pContent"></textarea>
                    </div>
                    <div class="form-item">
                        <button type="submit">Post</button>
                        <button type="reset" class="button secondary outline">Cancel</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
    {{/if}}
</template>